[submodule "Vundle.vim"]
	path = vim.symlink/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "vim.symlink/bundle/undotree"]
	path = vim.symlink/bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "vim.symlink/bundle/vim-easymotion"]
	path = vim.symlink/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim.symlink/bundle/vim-colors-solarized"]
	path = vim.symlink/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim.symlink/bundle/lh-vim-lib"]
	path = vim.symlink/bundle/lh-vim-lib
	url = https://github.com/LucHermitte/lh-vim-lib.git
[submodule "vim.symlink/bundle/nerdtree"]
	path = vim.symlink/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim.symlink/bundle/Vundle.vim"]
	path = vim.symlink/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "fzf.symlink"]
	path = fzf.symlink
	url = https://github.com/junegunn/fzf.git
[submodule "vim.symlink/bundle/rust.vim"]
	path = vim.symlink/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
