[submodule "i3_config"]
	path = i3_config
	url = git@github.com:risteon/i3_config.git
[submodule "Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule ".vim/bundle/undotree"]
	path = .vim/bundle/undotree
	url = git@github.com:mbbill/undotree.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion.git
